@import './variables';

.notFound {
  text-align: center;
  padding-bottom: 70px;

  .image {
    position: relative;
    width: 500px;
    height: 450px;
    margin: $mc;
  }
  
  .title {
    position: absolute;
    top: 25%;
    left: calc(50% - 120px);
    font-size: 140px;
  }

  .text {
    margin: 15px 0;
    font-size: 28px;
  }

  h2 {
    margin-bottom: 15px;
  }

  .link {
    color: $primary-color;
    margin-left: 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}