@import './mixins';
@import './variables';

.social {
  @include flex(space-between, center);
  padding: 20px 0;

  .socialItem {
    padding: 0px 10px;

    a {

      img {
        transition: .3s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}